%div
    %div.junbotron
        %h2 HipTime! Free and Easy
        %br
        %h4 Truted by Millions. Hiptime is the best online Task Management App!
        %br
        = link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"